version: "3.9"

services:
  quiz:
    build:
      context: .
    image: goodwin954/test1_quiz
    ports:
      - 8020:8020
    depends_on:
      pg:
        condition: service_healthy
  pg_quiz:
    image: postgres:latest
    environment:
      POSTGRES_USER: quiz
      POSTGRES_PASSWORD: quiz
      POSTGRES_DB: quiz
      PGPORT: 5434
    ports:
        - 5434:5434
    volumes:
      - ./pg_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U quiz" ]
      interval: 10s
      timeout: 10s
      retries: 5
